body{
	background: url("/images/bg1.jpg");
    background-size: cover;
    font-family:"Arial";
    margin:0;

	}
.block1{
			background-color: #aa74aa;
			box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
			border-radius: 5px;
			padding: 20px;
      margin:20px;
      margin-left:200px;
		}
.block{
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
      border-radius: 5px;
      padding: 20px;
      margin:20px;
      margin-left:200px;
    }
		nav{

  background: #0a0a0a;
  height: 80px;
  width: 100%;
  font-family:'Dosis', sans-serif;

}
label.logo{
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding-top: 10px ;
  padding-bottom: 20px;
  font-weight: bold;
  position: relative;
  bottom: 20px;
  left: 30px;
}
.bcd{
  height:75px;
  width: 75px;
  position: relative;
  left: 20px;
}

.chalTitle{
  font-family:'Dosis', sans-serif;
  font-size: 100px;
  line-height: 80px;
  /*font-weight: bold;*/
  position: relative;
  top:40px;
  left:20px;
}
.courseModule {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 15px;
    width:20%;
    font-family: "Lucida Console", Courier, monospace;
    padding-left: 150px;
}
.courseLesson a {
    color: inherit;
    display: block;
    overflow: hidden;
    text-decoration: none;
    padding-left: 10px;
  }
  .courseLesson{
        padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
  }
.lessonNumber {
    padding-right: 10px;
    border-right: 3px solid #f0f0f0;
}
.courseLessonTitle{
  padding-left: 20px;
  }
.courseLesson:hover
{
  color: #aa74aa;
}
.m1:hover
{
  background-color:#03ac13;
  color:#ffffff;
}
.m2:hover
{
  background-color:#ffd300;
  color:#ffffff;
}
.m3:hover
{
  background-color:#ff0000;
  color:#ffffff;
}
nav{
  background: #0a0a0a;
  height: 80px;
  width: 100%;
  font-family:"Dosis",san-serif;
}
label.logo{
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding-top: 10px ;
  padding-bottom: 20px;
  font-weight: bold;
  position: relative;
  bottom: 20px;
  left: 30px;
}
.bcd{
  height:75px;
  width: 75px;
  position: relative;
  left: 20px;
}
nav ul{
    margin-top: 0;
  float: right;
  margin-right: 40px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration:none;
}
nav a.active,nav a:hover{
  background: #c25cbdd8;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 900px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 900px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 15px;
  }
  nav ul li a{
    font-size: 20px;
  }
  nav a:hover,nav a.active{
    background:none;
    color: #ac45ac;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.anchor{
  padding-bottom:10px;
text-decoration: none;
color: rgb(177, 177, 177) ;
}
.anchor:hover{
  color: rgb(162, 55, 177);
  transition: 0.5s;
}
.anchor1{
  text-decoration: none;
  margin:5px;
color: rgb(177, 177, 177) ;
}
.anchor1:hover{
  text-decoration: underline;
  color: rgb(162, 55, 177);
  transition: 0.5s;
}
hr{
  padding:0px;
  height:1px ;
  background-color: rgb(177, 177, 177);
  border: none;
  margin: 0px;
}
.footer {
  /* position: absolute;
  left: 0;   */
  width: 100%;
  color: rgb(177, 177, 177);
  text-align: center;
  font-family:"Dosis",san-serif;
}
/* Create two equal columns that floats next to each other */
.column1 {
  box-sizing: border-box;
  float: left;
  width: 60%;
  padding: 10px;
  height: 220px; /* Should be removed. Only for demonstration */
}

.column2 {
  box-sizing: border-box;
  float: left;
  width: 40%;
  padding: 10px;
  height: 220px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
