*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family:'Dosis', sans-serif;
  background: url('/images/imager.png') no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
nav{
  background: #0a0a0a;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding-top: 10px ;
  padding-bottom: 20px;
  font-weight: bold;
  position: relative;
  bottom: 20px;
  left: 30px;
}
.bcd{
  height:75px;
  width: 75px;
  position: relative;
  left: 20px;
}
nav ul{
  float: right;
  margin-right: 40px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav a.active,nav a:hover{
  background: #c25cbdd8;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 900px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 900px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 15px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background:none;
    color: #ac45ac;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.abc
{
  float:left;
}
.content
{
  padding-left: 500px;
  padding-top:130px;
  padding-bottom: 160px;
  font-family: 'Alegreya';
  font-size: 35px;
}
.content button{
  border: none;
    outline: none;
    height: 40px;
    width: 200px;
    background: #c25cbdd8;
    border: 2px solid purple;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: relative;
    left: 190px;
    top: 10px;
}

.content button:hover{
  cursor: pointer;
    background: #ffc107;
    color: #000;
}

.services-section{
  /*background: url(bg.jpg);*/
  background-color: #000;
  background-size: cover;
  padding: 30px 0;
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding:10px;
  padding-right: 100px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
  font-family: "montserrat",sans-serif
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #c055bbd8;
  color: #c055bbd8;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: #c055bbd8;
  color: #ddd;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}


@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}
.content1
{
  padding-top:100px;
  padding-bottom: 100px;
  font-family: 'Alegreya';
  font-size: 35px;
  background: url('/images/bg1.jpg') no-repeat;
  background-size: cover;
  align-content: center;
  text-align: center;
}
.content1 button{
  border: none;
    outline: none;
    height: 40px;
    width: 200px;
    background: #c25cbdd8;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: relative;
    top:10px;
}

.content1 button:hover{
  cursor: pointer;
    background: #ffc107;
    color: #000;
}

.content2
{
  padding-top:50px;
  padding-bottom: 50px;
  font-family:'Dosis', sans-serif;
  font-size: 18px;
  color: white;
  background: url('/images/bg2.jpg') no-repeat;
  background-size: cover;
  align-content: center;
  text-align: left;
}

.a{
  position: relative;
  text-align: center;
  right: 220px;
  top: 10px;
}
.content2 button{
  border: none;
    outline: none;
    height: 40px;
    width: 200px;
    background: #c25cbdd8;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: relative;
    left:750px;
    bottom:40px;
}

.content2 button:hover{
  cursor: pointer;
    background: #ffc107;
    color: #000;
}

.content3
{
  padding-top:10px;
  padding-bottom: 10px;
  font-family:'Dosis', sans-serif;
  font-size: 18px;
  color: white;
  background-color: black;
  align-content: center;
  text-align: center;
}
.content4
{
  padding-top:10px;
  padding-bottom: 10px;
  font-family:'Dosis', sans-serif;
  font-size: 18px;
  color: white;
  background-color:grey;
  align-content: center;
  text-align: center;
}

.content11
{
  padding-top:100px;
  font-family: 'Alegreya';
  font-size: 35px;
  background: url('/images/bg1.jpg') no-repeat;
  background-size: cover;
  align-content: center;
  text-align: center;
}
.content11 button{
  border: none;
    outline: none;
    height: 40px;
    width: 200px;
    background: #c25cbdd8;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: relative;
    top:10px;
}

.content11 button:hover{
  cursor: pointer;
    background: #ffc107;
    color: #000;
}
.column {
  float: left;
  width: 33.33%;

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.content12
{
  padding-top:100px;
  padding-bottom: 100px;
  font-family: 'Alegreya';
  font-size: 35px;
  background: url('/images/bg3.jpg') no-repeat;
  background-size: cover;
  align-content: center;
  text-align: center;
  color: #ddd;
}
.content12 button{
  border: none;
    outline: none;
    height: 40px;
    width: 200px;
    background: #c25cbdd8;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: relative;
    top:10px;
    border: 2px solid white;
}

.content12 button:hover{
  cursor: pointer;
    background: #ffc107;
    color: #000;
}
.anchor{
  padding-bottom:10px;
text-decoration: none;
color: rgb(177, 177, 177) ;
}
.anchor:hover{
  color: rgb(162, 55, 177);
  transition: 0.5s;
}
.anchor1{
  text-decoration: none;
  margin:5px;
color: rgb(177, 177, 177) ;
}
.anchor1:hover{
  text-decoration: underline;
  color: rgb(162, 55, 177);
  transition: 0.5s;
}
hr{
  padding:0px;
  height:1px ;
  background-color: rgb(177, 177, 177);
  border: none;
  margin: 0px;
}
.footer {
  /* position: absolute;
  left: 0;   */
  width: 100%;
  color: rgb(177, 177, 177);
  text-align: center;
}
/* Create two equal columns that floats next to each other */
.column1 {
  box-sizing: border-box;
  float: left;
  width: 60%;
  padding: 10px;
  height: 220px; /* Should be removed. Only for demonstration */
}

.column2 {
  box-sizing: border-box;
  float: left;
  width: 40%;
  padding: 10px;
  height: 220px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
